div {
  font-family: 'Arial Regular';
  font-size: 23pt;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #262626;
  background-color: #FFFFFF;
}
#root {
  background-color: #F8F9FA;
}